body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
}

header {
    background-color: #000000;
    color: #FFFF00;
    text-align: center;
    padding: 1rem 0;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 20px;
}

h1, h2 {
    color: #fdfcfc;
}

.recipe-details {
    border-bottom: 1px solid #ccc;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.recipe-details h2 {
    color: #e74c3c; /* Red color */
}

.recipe-details p {
    color: #555;
}

.ingredients, .instructions {
    margin-bottom: 2rem;
}

.ingredients h2, .instructions h2 {
    color: #FF5733; /* Blue color */
    text-align:center;
}

.instructions ol {
    counter-reset: step;
    list-style-type: none;
}

.instructions ol li::before {
    content: counter(step);
    counter-increment: step;
    font-weight: bold;
    margin-right: 10px;
    color: #e67e22; /* Orange color */
}

.img-responsive{
width:100%;
height:auto;
}

.image-animation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    animation: zoomInOut 5s infinite;
}

.text-animation {
    text-align: center;
    animation: fadeInUp 2s ease-in-out, scaleUp 2s ease-in-out;
}

@keyframes zoomInOut {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes scaleUp {
    from {
        transform: scale(0.9);
    }
    to {
        transform: scale(1);
    }
}

footer {
    text-align: center;
    padding: 1rem 0;
    background-color:#000000;
    color: #fff;
}
